backend/fastapi_venv/
__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/
.pytest_cache/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
backend/src/models/__pycache__/
backend/src/routers/__pycache__/
node_modules/
.next