/* styles/terminal.css */
.terminal-container {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  padding: 10px;
  border: 1px solid #444;
  overflow-y: auto;
  min-height: 300px;
  max-height: 300px;
}

.terminal-output {
  white-space: pre-wrap; /* 保留换行符 */
}

.command {
  color: #6ae7ff; /* 蓝色高亮 */
}

.error {
  color: #ff5555; /* 红色高亮 */
}